header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
}
}
.sidenav li>a:hover {
  background-color: rgba(242, 238, 238, 0.05);
}
.sidenav li.active {
  background-color: rgba(242, 238, 238, 0.05);
}
