section {
    margin-top: 50px;
    margin-bottom: 50px;
}

body main p a,
body main section a{
    text-decoration: none;
    font-weight: normal;
}

#main-and-footer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-bottom: 20px
}
@media only screen and (max-width: 992px) and (min-width: 600px){
    #main-and-footer {
	min-height: calc(100vh - 64px);
    }
}

@media only screen and (max-width: 600px) {
    #main-and-footer {
	min-height: calc(100vh - 56px);
    }
}

main {
    flex: 1 0 auto;
}

body > .row {
    margin-bottom: 0;

