main p,
main ul li,
main ol li {
  font-size: 1.2em
}
body main p a,
body main section a{
    color: rgba(0,0,0,0.87);
    text-decoration: underline;
    font-weight: bold;
}

aside {
    height: 100vh !important;
    position: fixed;
    padding: 0 !important;
}

aside ul li {
    line-height: 48px;
}
aside ul li a {
    padding: 0 32px;
    display: block !important;
}


aside ul li a:hover,
nav ul a:hover,
aside ul li.active,
nav ul li.active {
    background-color: rgba(242, 238, 238, 0.05);
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
	left: auto;
	webkit transform: 0;
	transform: 0;
    }


}
footer {
    margin-top: 40px;
}
footer .row {
    margin-bottom: 0;
}
footer i,
#child2 i {
    margin: .2em
}
footer i:hover,
#child2 i:hover,
#hamburger i:hover{
    color: #64dd17 !important;
}

.nav-wrapper {
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
    #nav-collapse {
	transition: .5s;
	overflow: hidden;
	padding: 0 !important;
    }
    #nav-collapse li {
	float: NONE;
    }
    .nav-wrapper i {
	display: inline-block !important;
    }
}
.bold {
    font-weight: bold;
}
.footnote {
    font-size: 14px;
}
