<html>
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Mathew Marcus">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" media="screen" />
    <link rel="stylesheet" href="../css/materialize.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/obsidian.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/site.css" media="screen">
    <link rel="stylesheet" href="../css/blog_post.css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
  </head>
  
  <body>
    <div class="navbar-fixed hide-on-large-only">
      <nav class="row grey darken-4 nav-extended">

	<div class="nav-wrapper col s12">
	  <a href="#" class="brand-logo">Mathew Marcus</a>
	  <div id="hamburger" class="right-align">
	    <a href="#!" onclick="toggleNav()"><i class="tiny material-icons hide-on-med-and-up">menu</i></a>
	  </div>

	  <ul id="nav-mobile" class="right hide-on-small-only">
	    <li><a class="grey-text text-lighten-2" href="../index.html">Blog</a></li>
	    <li><a class="grey-text text-lighten-2" href="../about_me.html">About Me</a></li>
	    <!-- <li><a class="grey-text text-lighten-2" href="">Projects</a></li> -->
	  </ul>
	</div>

	<div id="nav-collapse" class="col s12 hide-on-med-and-up">
	  <ul>
	    <li><a class="grey-text text-lighten-2" href="../index.html">Blog</a></li>
	    <li><a class="grey-text text-lighten-2" href="../about_me.html">About Me</a></li>
	    <!-- <li><a class="grey-text text-lighten-2" href="#!">Projects</a></li> -->
	  </ul>
	</div>

      </nav>
    </div>
    <div class="row">
      <aside class="col l4 xl3 hide-on-med-and-down grey darken-4 z-depth-5">
	<div id="child1">
	  <h4 class="white-text center-align">Mathew Marcus</h4>
	  <h6 class="white-text center-align">Coding</h6>
	  <h6 class="white-text center-align">Infosec</h6>
	  <h6 class="white-text center-align">(<span class="light-green-text text-accent-4">Arch</span>) Linux</h6>
	<br>
	<ul>
	  <li><a class="white-text waves-effect" href="../index.html">Blog</a></li>
	  <li><a class="white-text waves-effect" href="../about_me.html">About Me</a></li>
	  <!-- <li><a class="white-text waves-effect" href="#!">Projects</a></li> -->
	</ul>
	</div>
	<br>
	<div id="child2" class="center-align">
	  <a class="social_email"><i class="material-icons small white-text fas fa-envelope"></i></a>
	  <a href="https://github.com/mathewmarcus" target="_blank"><i class="material-icons small white-text fab fa-github"></i></a>
	  <a href="https://www.linkedin.com/in/mathew-marcus-76243b113/" target="_blank"><i class="material-icons small white-text fab fa-linkedin-in"></i></a>
	</div>
      </aside>

      <div class="col s12 l8 xl9 offset-l4 offset-xl3">
	<main class="container">

	</main>
	<footer class="page-footer white">
	  <div class="container">
	    <div class="row">
	      <div id="disqus_thread"></div>
	      <script>

		var disqus_config = function () {
		this.page.url = window.origin + window.pathname;
		this.page.identifier = PAGE_IDENTIFIER;
		};

		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://mathewmarcus.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
	      </script>
	      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	    </div>
	  </div>
	  <div class="footer-copyright white black-text">
	    <div class="center-align container">
	      <div class="row">
	      <a class="social_email"><i class="material-icons tiny black-text fas fa-envelope"></i></a>
	      <a href="https://github.com/mathewmarcus" target="_blank"><i class="material-icons tiny black-text fab fa-github"></i></a>
	      <a href="https://www.linkedin.com/in/mathew-marcus-76243b113/" target="_blank"><i class="material-icons tiny black-text fab fa-linkedin-in"></i></a>
	      </div>

	      <div class="row">
		&copy Mathew Marcus 2018
		</div>
	    </div>
	  </div>
	</footer>

      </div>
    </div>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script type="text/javascript" src="../js/site.js"></script>
    
  </body>
</html>
